{% extends "blog.twig" %}

{% block cardList %}
    {% for arr in articles %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="single-blog">
            <div class="single-blog-img">
                <a href="blog-details.html">
                    <img src="{{ arr.image }}" alt="image">
                </a>
            </div>
            <div class="blog-meta">
                    <span class="comments-type">
                      <i class="bi bi-chat"></i>
                      <a href="#">comments</a>
                    </span>
                <span  class="date-type">
                      <i class="bi bi-calendar"></i>2016-03-05 / 09:10:16
                    </span>
            </div>
            <div class="blog-text">
                <h4>
                    <a href="#">{{ arr.title }}</a>
                </h4>
                <p>
                    {{ arr.content }}
                </p>
            </div>
            <span>
                    <a href="article/{{ arr.id }}" class="ready-btn">Read more</a>
                  </span>
        </div>
    </div>
    {% endfor %}
{% endblock %}


{% block postBlock %}
    <!-- start single post -->
    {% for arr in articles %}
        <div class="recent-single-post">
            <div class="post-img">
                <a href="/article/{{ arr.id }}">
                    <img src="{{ arr.image }}" alt="">
                </a>
            </div>
            <div class="pst-content">
                <p><a href="/article/{{ arr.id }}"> {{ arr.title }}</a></p>
            </div>
        </div>
    {% endfor %}
    <!-- End single post -->
{% endblock %}

{% block pagination %}
    {% for str in str_pag %}
        <li class="page-item"><a href="/page/{{ str }}" class="page-link">{{ str }}</a></li>
    {% endfor %}
{% endblock %}