{% extends "blog-details.twig" %}

{% block cardDetail %}
<article class="blog-post-wrapper">
    <div class="post-thumbnail">
        <img src="{{ article.image }}" alt="image" />
    </div>
    <div class="post-information">
        <h2>{{ article.title }}</h2>
        <div class="entry-meta">
            <span class="author-meta"><i class="bi bi-person"></i> <a href="#">admin</a></span>
            <span><i class="bi bi-clock"></i> march 28, 2016</span>
            <span class="tag-meta">
                        <i class="bi bi-folder"></i>
                        <a href="#">painting</a>,
                        <a href="#">work</a>
                      </span>
            <span>
                        <i class="bi bi-tags"></i>
                        <a href="#">tools</a>,
                        <a href="#"> Humer</a>,
                        <a href="#">House</a>
                      </span>
            <span><i class="bi bi-chat"></i> <a href="#">6 comments</a></span>
        </div>
        <div class="entry-content">
            {{ article.content }}
        </div>
    </div>
</article>
{% endblock %}

{% block postBlock %}
    <!-- start single post -->
    {% for arr in articles %}
    <div class="recent-single-post">
        <div class="post-img">
            <a href="/article/{{ arr.id }}">
                <img src="{{ arr.image }}" alt="">
            </a>
        </div>
        <div class="pst-content">
            <p><a href="/article/{{ arr.id }}"> {{ arr.title }}</a></p>
        </div>
    </div>
    {% endfor %}
    <!-- End single post -->
{% endblock %}